/* personalizing global page */

.boxtag {
  width: 10%;
  margin: 20px;
  border: 1px solid #e69451;
  box-shadow: 0 2px 3px hsl(46, 93%, 29%);
  text-align: left;
  /* text-align: center;*/
}

.boxit {
  width: 40%;
  margin: 20px;
  border: 1px solid #ee1bee;
  box-shadow: 0 2px 3px #c50760;
  padding: 8px;
}

button {
  background: orangered;
  font: inherit;
  border: 1px solid rgb(95, 172, 196);
  padding: 18px;
}

h1 {
  color: rgb(228, 18, 140);
}
