/* personalizing global page */

.boxit{
    width: 40%;
    margin: 10px;
    border:1px solid rgb(116, 9, 9);
    box-shadow: 0 2px 3px rgb(173, 224, 30);
    padding: 6px;
   /* text-align: center;*/

}
.boxtag {
    width: 30%;
    margin: 10px;
    border: 1px solid rgb(153, 100, 122);
    box-shadow: 0 2px 3px rgb(84, 31, 231);
    text-align: left;
  }
  

button {
    background:green;
    font:inherit;
    border:1px solid rgb(95, 172, 196);
    padding:18px,
            

}

h1{
    color: rgb(21, 150, 17);
}