/* personalizing global page */

.boxtagg {
    width: 10%;
    margin: 20px;
    border: 1px solid rgb(150, 36, 243);
    box-shadow: 0 2px 3px #4886e2;
    text-align: left;
  }
  .boxitt {
    width: 25%;
    margin: 20px;
    border: 1px solid hsl(109, 78%, 55%);
    box-shadow: 0 2px 3px hsl(73, 78%, 65%);
    padding: 8px;
    /* text-align: center;*/
  }
  .boxwap {
    width: 75%;
    margin: 20px;
    border: 1px solid hsl(69, 86%, 52%);
    box-shadow: 0 2px 3px #c50760;
    padding: 8px;
  }

button {
    background:green;
    font:inherit;
    border:1px solid rgb(95, 172, 196);
    padding:18px,
            

}

h1{
    color: rgb(21, 150, 17);
}